<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Cart</title>
  </head>
  <body>
    <div class="js-container"></div>

    <script src="https://unpkg.com/supersimpledev/react.js"></script>
    <script src="https://unpkg.com/supersimpledev/react-dom.js"></script>
    <script src="https://unpkg.com/supersimpledev/babel.js"></script>

    <script type="text/babel" src="./ShoppingCart.jsx"></script>
    <script type="text/babel">
      const container = document.querySelector('.js-container');
      const root = ReactDOM.createRoot(container);

      root.render(<ShoppingCart />);
    </script>
  </body>
</html>
