.container {
  display: grid;
}

.todo-row {
  display: grid;
  grid-template-columns: 220px 160px 80px;
  gap: 20px;
  margin-bottom: 20px;  
}

.task, .date, .addTask, .delButton {
  padding: 8px;
}